$rwc-size-time-header: 3em;
$rwc-size-day-header: 1em;

$rwc-color-text: #000000;
$rwc-color-border-strong: #000000;
$rwc-color-border-light: rgba(#000000, 0.25);
$rwc-color-background-primary: #fefefe;
$rwc-color-background-secondary: rgba(#000000, 0.25);
